@keyframes rainbow {
    0%, 100% {
        fill: red;
        color: red;
    }
    33% {
        fill: blue;
        color: blue;
    }
    66% {
        fill: yellow;
        color: yellow;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

marquee {
    line-height: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: #e55;
    color: black;
}

svg,
.text {
    animation: rainbow 60s linear infinite;
}

.teeth-gold {
    fill: #F6BE40;
}

