
* {
    margin: 0;
    padding: 0;
    border: 0;
}

marquee {
    line-height: 0;
}

body {
	background-color: #e55;
}

html, body {
	margin: 0;
	overflow: hidden;
}

html,
body,
#skull-container {
    width: 100%;
	height: 100%;
}

/* Safari detector */
_::-webkit-full-page-media, _:future, :root body,
_::-webkit-full-page-media, _:future, :root html {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
}

_::-webkit-full-page-media, _:future, :root marquee {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
    height: 100vh;
    width: 100vw;;
}

_::-webkit-full-page-media, _:future, :root #skull-face {
    animation-name: float-anim;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.35,0,.55,1);
    animation-iteration-count: infinite;
    /* animation: float-anim 4s cubic-bezier(.35,0,.55,1) infinite;*/
}

/* end safari detector */


.teeth-gold {
    fill: #F6BE40;
}

#eye-right,
#eye-left {
	animation: blink-anim 8s linear 2s infinite;
}

#eye-right {
	transform-origin: center 10px;
}
#eye-left {
	transform-origin: center 20px;
}

/* animations */

@keyframes float-anim {
	0% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(-10%);
	}
}
@keyframes blink-anim {
	0% {
		transform: scale(1, 1);
	}
	1% {
		transform: scale(1, .1);
	}
	2% {
		transform: scale(1, 1);
	}
	3% {
		transform: scale(1, .1);
	}
	4% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}